<main>
  <div class="container">
    <div class="px-4 py-5 my-4 text-center">
      <img alt="Logo" class="d-block mx-auto mb-5" src="/assets/apple-icon-144x144.png">
      <h1 class="display-5 fw-bold">XCBC - Computation Benefactor Coin</h1>
      <div class="col-lg-8 mx-auto mt-3">
        <p class="lead">We will reveal here a large <i class="bi bi-currency-bitcoin"></i> cryptocurrency development milestone. Soon.</p>
      </div>
    </div>
  </div>
</main>

<footer class="mt-auto bg-light">
  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-3">
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-server"></i> <a href="https://hub.docker.com/u/computationbenefactorcoin">Docker</a>
          </li>
          <li>
            <i class="bi bi-github"></i> <a href="https://github.com/ComputationBenefactorCoin">GitHub</a>
          </li>
        </ul>
      </div>
      <div class="col text-center">
        Copyright &copy; 2022 Computation Benefactor Coin
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</footer>
